
.item__content {
  background-color: #888;
  width: 50rem;
  height: 30rem;
}

.carousel_item__title {
  display: flex;
  justify-content: center;
}

.carousel_item_thumbnail {
  flex: 1;
  background-color: #000;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.carousel_card_info {
  margin: 2rem;
  flex: 2;
}

.carousel_item__card {
  display: flex;
}

