.form_section {
  display: flex;
  justify-content: center;
}

.form_section__content {
  width: 36rem;
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  margin: 3rem;
}

.form-input-field {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.form-input-field + .form-input-field {
  margin-left: 1rem;
}

.submit-row {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  .submit-btn {
    padding: 0.5rem 2rem;
    background-color: #eee;
    margin: 0;
    border: none;
  }
}