.gallery_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  .gallery_heading__content {
    margin: 0;
  }
}

.gallery_collection {
  display: flex;
  justify-content: space-around;
}


.gallery_item {
  flex:1;
  padding: 0 2rem;
  &:first-child {
    padding-left: 4rem;
  }
  &:last-child {
    padding-right: 4rem;
  }
  .item-image {
    height: 18rem;
    background-color: #ccc;
  }
  .gallery_item_info{
    font-size: 1em;
    word-wrap: break-word;
  }
}