.navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #999;
}

.brand {
  padding: 0.25rem 1rem;
  .brand__logo {
    font-size: 2em;
    font-weight: 900;
  }
}

.nav {
  .nav__list {
    margin: 0;
    display: flex;
    list-style-type: none;
    .nav__list__item {
      padding: 14px 16px;
      a {
        color: white;
      }
    }
  }
}



