.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 24rem;
  .hero__content {
    color: #fff;
    font-size: 3em;
    font-weight: 900;
  }
}
