

section {
  width: 100%;
  clear: left;
  clear: right;
  display: block;
}

.navbar {
  color: #fff;
  background-color: #aaa;
}

.alert .alert_grid {
  padding: 1rem 2.5rem 1.1rem;
  text-align: left;
  background-color: #cce6ff;
  font-size: 0.8em;
}

.brand-content {
  font-size: 2em;
  font-weight: bolder;
}


.menu-left {
  float: left;
}

/* Change the link color to #111 (black) on hover */
.menu .menu_list li a:hover {
    background-color: #111;
}

.brand {
  float: left;
  height: 2pc;
  padding: 4pt;
  margin: 0;
}



.container--copy {
  width: 100%;
  display: block;
}

.container--copy h3 {
  float: left;
  display: inline-block;
}

.more-content {
  display: inline-block;
  float: right;
}

.home_gallery-content {
  clear: left;
}

.item {
  float: left;
  width: 14pc;
}

.home_form {
  width: 100%;
}

.home_form-content {
  max-width: 50pc;
  margin: 2rem auto;
  padding: 2rem;
}

.home_form-content input {
  display: block;
  width: 100%;
}

.btn-submit {
  border: 0;
  background: #acb;
  padding: 1rem;
  margin: auto;
  width: 50%
}