body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0;
}

.alert {
  padding: 1rem 2.5rem 1.1rem;
  font-size: 0.8em;
}
.alert.alert--info {
  background-color: #cce6ff;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  color: #fff;
  background-color: #999;
}

.brand {
  padding: 0.25rem 1rem;
}
.brand .brand__logo {
  font-size: 2em;
  font-weight: 900;
}

.nav .nav__list {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.nav .nav__list .nav__list__item {
  padding: 14px 16px;
}
.nav .nav__list .nav__list__item a {
  color: white;
}

.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #333;
  height: 24rem;
}
.hero .hero__content {
  color: #fff;
  font-size: 3em;
  font-weight: 900;
}

.gallery_heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem 4rem;
}
.gallery_heading .gallery_heading__content {
  margin: 0;
}

.gallery_collection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery_item {
  -ms-flex: 1;
      flex: 1;
  padding: 0 2rem;
}
.gallery_item:first-child {
  padding-left: 4rem;
}
.gallery_item:last-child {
  padding-right: 4rem;
}
.gallery_item .item-image {
  height: 18rem;
  background-color: #ccc;
}
.gallery_item .gallery_item_info {
  font-size: 1em;
  word-wrap: break-word;
}
.gallery_item .gallery_item_info dd {
  float: right;
  margin: 0;
}
