<!-- Carousel -->
<div class="owl-carousel owl-theme">
    <div class="item">
      <div class="item__content">
        <div class="carousel_item__title">
          <h3>Featured Content Title 1</h3>
        </div>
        <div class="carousel_item__card">
          <div class="carousel_item_thumbnail">
          </div>
          <div class="carousel_card_info">
            <h5>Series Title</h5>
            <p>Newest Episode: #34, Episode Title</p>
            <p>Summary: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
    <div class="item__content">
      <div class="carousel_item__title">
        <h3>Featured Content Title 2</h3>
      </div>
      <div class="carousel_item__card">
        <div class="carousel_item_thumbnail">
        </div>
        <div class="carousel_card_info">
          <h5>Series Title</h5>
          <p>Newest Episode: #23, Episode Title</p>
          <p>Summary: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>
      </div>
    </div>
  </div>
    <div class="item">
    <div class="item__content">
      <div class="carousel_item__title">
        <h3>Featured Content Title 3</h3>
      </div>
      <div class="carousel_item__card">
        <div class="carousel_item_thumbnail">
        </div>
        <div class="carousel_card_info">
          <h5>Series Title</h5>
          <p>Newest Episode: #12, Episode Title</p>
          <p>Summary: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>
      </div>
    </div>
  </h4></div>
</div>