<!-- Footer -->
<footer>
  <div class="navbar navbar--footer">
    <div class="nav-left">
      <div class="brand">
        <span class="brand__logo">V</span>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a href="#" title="Visit Terms of Service.">
              Terms of Service
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" title="Visit Privacy Policy.">
              Privacy Policy
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="#" title="Visit Home.">
            Home
          </a>
        </li>
        <li class="nav__list__item">
          <a href="#" title="Visit Movies.">
            Movies
          </a>
        </li>
        <li class="nav__list__item">
          <a href="#" title="Visit TV Shows.">
            TV Shows
          </a>
        </li>
        <li class="nav__list__item">
          <a href="#" title="Visit Contact.">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>