<!-- Footer -->
<footer>
  <div class="navbar">
    <div class="brand">
      <span class="brand-content">V</span>
    </div>
    <nav class="menu menu-left">
      <ul class="menu_list menu-left">
        <li>
          <a class="active" href="#" title="Visit Terms of Service.">
            Terms of Service
          </a>
        </li>
        <li>
          <a class="active" href="#" title="Visit Privacy Policy.">
            Privacy Policy
          </a>
        </li>
      </ul>
    </nav>
    <nav class="menu">
      <ul class="menu_list">
        <li>
          <a class="active" href="#" title="Visit Home.">
            Home
          </a>
        </li>
        <li>
          <a class="active" href="#" title="Visit Movies.">
            Movies
          </a>
        </li>
        <li>
          <a class="active" href="#" title="Visit TV Shows.">
            TV Shows
          </a>
        </li>
        <li>
          <a class="active" href="#" title="Visit Contact.">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>