<!-- Form -->
<section class="home_form">
  <h3>Contact Video Log</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
  <form class="home_form-content">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="col">
        <input type="tel" class="form-control" placeholder="Phone">
      </div>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Other Notes">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
    <button type="submit" class="btn-submit">Submit</button>
  </form>
</section>