<!-- Form -->
<section class="form_section">
  <div class="form_section__content">
    <h3>Contact Video Log</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
    <form>
      <div class="form-row">
        <input type="text" class="form-input-field" placeholder="First name">
        <input type="text" class="form-input-field" placeholder="Last name">
      </div>
      <div class="form-row">
        <input type="email" class="form-input-field" placeholder="Email">
        <input type="tel" class="form-input-field" placeholder="Phone">
      </div>
      <div class="form-row">
        <input type="text" class="form-input-field" placeholder="Other Notes">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
      <div class="submit-row">
        <button type="submit" class="submit-btn">Submit</button>
      </div>
    </form>
  </div>
</section>