<!-- Gallery -->
<section>
  <div class="gallery_heading">
    <h3 class="gallery_heading__content">
      Newest Additions
    </h3>
    <a class="active more-content" href="#" title="View More New Content.">
      View More New Content
    </a>
  </div>
  <div class="gallery_collection">
    <div class="gallery_item">
      <a href="#">
        <div class="item-image"><img src="https://via.placeholder.com/180x280"></div>
      </a>
      <div class="gallery_item_info">
        <h5 class="gallery_item_info__title">Movie Title</h5>
        <dl class="gallery_item_info__details">
          <dt>Director:</dt><dd>Name</dd>
          <dt>Starring:</dt><dd>Name, Name</dd>
        </dl>
      </div>
    </div>
    <div class="gallery_item">
      <a href="#">
        <div class="item-image"><img src="https://via.placeholder.com/180x280"></div>
      </a>
      <div class="gallery_item_info">
        <h5 class="gallery_item_info__title">TV Show Title</h5>
        <dl class="gallery_item_info__details">
          <dt>Episode:</dt><dd>#12</dd>
          <dt>Director:</dt><dd>Name</dd>
          <dt>Starring:</dt><dd>Name</dd>
        </dl>
      </div>
    </div>
    <div class="gallery_item">
      <a href="#">
        <div class="item-image"><img src="https://via.placeholder.com/180x280"></div>
      </a>
      <div class="gallery_item_info">
        <h5 class="gallery_item_info__title">Movie Title</h5>
        <dl class="gallery_item_info__details">
          <dt>Director:</dt><dd>Name</dd>
          <dt>Starring:</dt><dd>Name, Name, Name, Name</dd>
        </dl>
      </div>
    </div>
    <div class="gallery_item_info">
      <a href="#">
        <div class="item-image"><img src="https://via.placeholder.com/180x280"></div>
      </a>
      <div class="item-info">
        <h5 class="gallery_item_info__title">Movie Title</h5>
        <dl class="gallery_item_info__details">
          <dt>Director:</dt><dd>Name</dd>
          <dt>Starring:</dt><dd>Name, Name</dd>
        </dl>
      </div>
    </div>
    <div class="gallery_item_info">
      <a href="#">
        <div class="item-image"><img src="https://via.placeholder.com/180x280"></div>
      </a>
      <div class="item-info">
        <h5 class="gallery_item_info__title">Movie Title</h5>
        <dl class="gallery_item_info__details">
          <dt>Episode:</dt><dd>#14</dd>
          <dt>Director:</dt><dd>Name</dd>
          <dt>Starring:</dt><dd>Name, Name</dd>
        </dl>
      </div>
    </div>
  </div>
</section>