<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css"> 
  </head>
  <body>
{{>notice}}
{{>header}}
{{>hero}}
{{>gallery}}
{{>carousel}}
{{>form}}
{{>footer}}
  </body>
</html>
